body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    background-color: #0044cc;
    color: white;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    top: 0;
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 100%;
    overflow-x: auto;
    
}

#editModal {
  display: none;
  position: fixed;
  top: 10%; /* קרוב יותר למעלה */
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 500px;         /* הגדלת רוחב */
  max-height: 80vh;     /* גובה מקסימלי בהתאם למסך */
  overflow-y: auto;     /* גלילה אם חורג מהגובה */
}

.logout-button {
    display: inline-block;
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    margin-top: 20px; 
}

.logout-button:hover {
    background-color: #002ae6; 
    text-decoration: underline; 
}

.logout-button:active {
    background-color: #cc0000; 
}


main {
    margin-top: 5em;
    padding: 2em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    text-align: center;
    max-width: 1000px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form select, form button, form textarea {
    width: 100%;
    max-width: 400px;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 0.7em;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    max-width: 200px;
}

button:hover {
    background-color: #003399;
}

footer {
    width: 100%;
    background-color: #0044cc;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.home-link {
    color: white; 
    text-decoration: none; 
}

.home-link:hover {
    text-decoration: underline; 
}

footer p {
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 0.1em;
}
